* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  font-family: "Inter", sans-serif;
}
.head {
  height: 87vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(donate-today-main/images/donation3.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.title-caption {
  font-family: "Inter", sans-serif;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  line-height: 79px;
  padding-top: 250px;
  padding-bottom: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.title-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.button1 {
  background-color: #ff5959;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 100px;
  margin-left: 45%;
  cursor: pointer;
  transition: 0.3s;
}
.button1:hover {
  background-color: #e0dddd;
  color: #ff5959;

  /*Donate started*/
}
main{
  width: 70%;
  margin: 0 auto 100px;
}
#donate {

  padding-top: 130px;
  text-align: center;
}
.donate-today {
}
.do-title {
  font-weight: 700;
  font-size: 45px;
  font-style: normal;
}

.do-description {
  font-weight: 400;
  font-size: 22px;
  color: #757575;
  padding-top: 20px;
  text-align: center;
  width: 50%;
  margin: 10px auto;
}
.amount-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.container {
  width: 20%;
  font-weight: 700;
  font-size: 40px;
  color: rgb(53, 48, 48);
  background-color: #e0dddd;
  margin: 20px 10px;
  padding: 35px 0;
  border-radius: 5px;
  transition: 0.3s;
}
.container-red {
  color: #ff5959;
  border: 2px solid #ff5959;
  background-color: #ffeeee;
}
.container:hover {
  color: #ff5959;
}

.send-tk{
  padding: 20px 0;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.btn{
  padding-top: 15px;
  margin: 10px auto;

}